h1{
  font-family: 'Lemonada', cursive;
}

.jum-title{
  background-color: white;
}

h2{
  text-align: center;
}

.img-middle{
  width: 400px;
  height: 450px;
  object-fit: cover;
  border-radius: 20% 10%;
  margin-left: 30px;

}

.title-img{
  width: 400px;
  height: 250px;
  border-radius: 100%;
  margin-top: 90px;

}

p{
  text-align: justify;
  padding: 5%;
}

h3{
  text-align: center;
  padding: 2%;
}

.jum-middle{
padding: 7%;
  width: auto;
  height: 500px;
  background-color: white;
}

.jum-img{
  background-color: white;
}

#footer{
  height: 100px;
  color: blue;
}
